
<div class="container albums-index-title">
  <h1>Vos albums</h1>
    <div class="row albums-container">
      <% @albums.each do |album| %>
        <div class="col-xs-12 col-lg-4 text-center">
          <div class="album-card-container">


            <div class="album-card-wrapper">
              <div class="album-cover-picture" style="background-image: url('http://www.promenades-en-mer.org/photo/produit/7/excursions_ajaccio___porticcio_coucher_de_soleil_aux_iles_sanguinaires_decouvertes_naturelles_balades_en_mer_6320160729100558.jpg')">
              </div>

              <div>
                <div class="album-card-title">
                  <%=link_to "#{album.name}", album_path(album), class: "album-title"%>
                </div>
                <div class="album-card-icons">
                  <div class="memberships-number">
                    <%= album.memberships.size %>
                    <%= link_to "<i class='fas fa-user' style='color:black'></i>".html_safe, album_invitations_path(album)%>
                  </div>
                  <div class="pictures-number">
                    <%= album.pictures.count %>
                    <i class="fas fa-image"></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <%end%>
  </div>
</div>


<div class="text-center">
  <div class="btn btn-primary btn-projecureuil">
    <%= link_to 'Créer un album', new_album_path %>
  </div>
</div>
